<h1>hello</h1>

<%= form_tag ('/users',method='POST',accept-charset='UTF-8') %>
	<!--username: <input type="text" name="[user][username]"><br>
	password: <input type="password" name="[user][password]"><br>
	email: <input type="text" name="[user][email]"><br>
	<input type='submit' value='submit'>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>"> -->
	username: text_field_tag 'username'
	password: password_field_tag 'password'
	email: text_field_tag 'email' 
</form>